.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.wrapper{
    width: 95%;
    padding: 40px;
    border-radius: 25px;
    background-color: rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    flex-wrap: wrap;
}

.categoryName{
    width: 100%;
    text-align: start;
    margin-bottom: 20px;
    font-size: 1.6em;
    font-weight: bold;
}

.movies{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}