.container {
    background: transparent;
    border-radius: 25px;
    width: 200px;
    height: 350px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    transition: 0.2s;
}

.posterWrapper {
    width: 100%;
    height: 80%;
    position: relative;
}

.genreWrapper {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    position: absolute;
    border-radius: 25px;
    transition: 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.genre {
    width: fit-content;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.3);
    color: #fff;
    padding: 0 5px;
    margin: 0 2px;
}

.container:hover .genreWrapper {
    opacity: 1;
}


.poster {
    width: 100%;
    height: 100%;
    border-radius: 25px;
}

.movieInfo {
    height: 20%;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 1.1em;
    text-transform: uppercase;
}

.info{
    text-align: center;
    transition: 0.4s;
}

.info:hover {
    color: #C97006;
}